<fieldset>
  <legend>URL to shorten?</legend>
  <div class="form-group <%= @url.errors[:url].present? ? 'has-error has-feedback' : '' %>">
    <%= form.url_field :url, :class => 'form-control', :placeholder => 'Url', 'aria-describedby' => 'error-on-url' %>
    <% if @url.errors[:url].present? %>
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <span id="error-on-url" class="sr-only">(error)</span>
    <% end %>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</fieldset>
